    <!-- head -->
<%- include('../includes/head.ejs') %>
    <!-- header -->
<%- include('../includes/heading.ejs') %>
    <!-- link -->
<%- include('../includes/navigation.ejs') %>
    <!-- product -->
     <div class="all_product_countainer">
    <% for(let product of prods){ %>
        <div class="product-container">
        <h3><%= product.title %></h3>
        <img src="<%= product.imageUrl %>" alt="تصویر محصول">
        <div class="price"><%= product.price %> $</div>
        <div class= 'product_description'><%= product.description %></div>
        <button class="btn-edit"><a href="/admin/edit-product/<%= product._id %>?edit=true">ویرایش</a></button>
        <form action="/admin/delete-product" method="post">
            <input type="hidden" value="<%= product._id %>" name="productId">
            <button class="btn-remove" type="submit">حذف</button>
        </form>
        
        </div>
    <% } %>
     </div>
    
    
    <!-- end html -->
<%- include('../includes/end.ejs') %>