    <!-- head -->
<%- include('../includes/head.ejs') %>
    <!-- header -->
<%- include('../includes/heading.ejs') %>
    <!-- link -->
<%- include('../includes/navigation.ejs') %>
    <!-- product -->
     <div class="all_product_countainer">
    <% for(let product of prods){ %>
        <div class="product-container">
        <h3><%= product.title %></h3>
        <img src="<%= product.imageUrl %>" alt="تصویر محصول">
        <div class="price"><%= product.price %> $</div>
        <div class= 'product_description'><%= product.description %></div>
        <div class="btn-container">
        <button class="btn btn-info"><a href="/product/<%= product._id %>">جزئیات</a></button>
        <% if(path ==='/products'){%>
            <%- include('../includes/add-to-cart.ejs') %>
        <% } %>
        </div>
        </div>
    <% } %>
     </div>
    
    
    <!-- end html -->
<%- include('../includes/end.ejs') %>